.map-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.leaflet-container {
    max-width: 1536px;
    height: 90vh;
    width: 90vw;
    z-index: 1;
    position: relative;
}

.leaflet-bottom {
    pointer-events: auto;
}

.dragMarkContainer {
    text-align: center;
}

.dragMarkBtn {
    width: 40%;
    font-size: 1.4em !important;
    margin: 10px 10px 20px 10px !important;
}

